		<!-- Page Title Section -->
		<div class="row page-title page-title-about">
			<div class="container">
				<h2><i class="fa fa-picture-o"></i>CAMPUS GALLERY</h2>
			</div>
		</div>
		
		<!-- START: GALLERY -->
		<div class="row gallery-row">
			<div class="container clear-padding">
				<div class="image-set">
					<div class="col-md-4 col-sm-4">
						<div class="image-wrapper">
							<img src="assets/img/news/news-sm1.jpg" alt="Cruise">
							<div class="img-caption">
								<div class="link">
									<a title="Fine Arts" href="assets/img/news/news-sm1.jpg">
										<i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="image-wrapper">
							<img src="assets/img/news/news-sm2.jpg" alt="Cruise">
							<div class="img-caption">
								<div class="link">
									<a title="Arts" href="assets/img/news/news-sm2.jpg">
										<i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="image-wrapper">
							<img src="assets/img/news/news-sm3.jpg" alt="Cruise">
							<div class="img-caption">
								<div class="link">
									<a title="Arts" href="assets/img/news/news-sm3.jpg">
										<i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-4 col-sm-4">
						<div class="image-wrapper">
							<img src="assets/img/news/news-sm1.jpg" alt="Cruise">
							<div class="img-caption">
								<div class="link">
									<a title="Fine Arts" href="assets/img/news/news-sm3.jpg">
										<i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="image-wrapper">
							<img src="assets/img/news/news-sm1.jpg" alt="Cruise">
							<div class="img-caption">
								<div class="link">
									<a title="Arts" href="assets/img/news/news-sm1.jpg">
										<i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="image-wrapper">
							<img src="assets/img/news/news-sm2.jpg" alt="Cruise">
							<div class="img-caption">
								<div class="link">
									<a title="Arts" href="assets/img/news/news-sm2.jpg">
										<i class="fa fa-plus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END: GALLERY -->
			
		<!-- Know More Info & Admission apply row -->
		<div class="row apply-know-row">
			<div class="container">
				<div class="col-sm-6 admission-row">
					<h3>ADMISSIONS ARE OPEN</h3>
					<p>It is a long established fact that a reader will be distracted by the content of a page when looking at its layout.</p>
					<a href="#"><i class="fa fa-edit"></i>APPLY NOW</a>
				</div>
				<div class="col-sm-6 info-row">
					<h3>HAVE ANY QUERIES?</h3>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
					<div class="input-wrapper">
						<input type="text" placeholder="e.g. email@pathshala.com"/><a href="#"><i class="fa fa-paper-plane"></i></a>
					</div>
				</div>
			</div>
		</div>