<div class="modal fade" id="Register" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content login-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <i class="fa fa-user-plus"></i>Register</h4>
      </div>
      <div class="modal-body">
        <div>
          <label>
            <i class="fa fa-user"></i>Student Name</label>
          <input class="form-control" type="text" placeholder="Student Name">
        </div>
        <div>
          <label>
            <i class="fa fa-user"></i>Student Age</label>
          <input class="form-control" type="text" placeholder="Student Age">
        </div>
        <div>
          <label>
            <i class="fa fa-mail"></i>Gender</label>
            <select class="form-control">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>School Name</label>
          <input class="form-control" type="text" placeholder="School Name">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Class</label>
          <input class="form-control" type="text" placeholder="Class">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Parents/Guardian Name</label>
          <input class="form-control" type="text" placeholder="Parents/Guardian Name">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Contact Number</label>
          <input class="form-control" type="text" placeholder="Contact Number">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Street No.</label>
          <input class="form-control" type="text" placeholder="Street No.">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Town/City</label>
          <input class="form-control" type="text" placeholder="Town/City">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Country</label>
          <input class="form-control" type="text" placeholder="Country">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Pin Code</label>
          <input class="form-control" type="text" placeholder="Pin Code">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>E-Mail</label>
          <input class="form-control" type="text" placeholder="E-Mail">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Registration Amount</label>
          <input class="form-control" type="text" placeholder="Registration Amount">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Center Name</label>
          <input class="form-control" type="text" placeholder="Center Name">
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Course Option</label>
            <div class="row">
              <div class="col-md-6">
                <input type="checkbox" name="course"> Two Year Intergrated Course for IIT-JEE
              </div>
              <div class="col-md-6">
                <input type="checkbox" name="course"> One Year Course For IIT-JEE
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="checkbox" name="course"> Two Years Intergrated Course For IX & X
              </div>
              <div class="col-md-6">
                  <input type="checkbox" name="course"> One Year Course For X
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="checkbox" name="course"> One Year Classroom Programme for VIII
              </div>
              <div class="col-md-6">
                <input type="checkbox" name="course"> One Year Classroom Programme for VII      
              </div>
            </div>
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Subject Options</label>
            <div class="row">
              <div class="col-md-6">
                <input type="checkbox" name="subject"> Mathematics
              </div>
              <div class="col-md-6">
                <input type="checkbox" name="subject"> Biology
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="checkbox" name="subject"> Physics
              </div>
              <div class="col-md-6">
                <input type="checkbox" name="subject"> Science
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <input type="checkbox" name="subject"> Chemistry
              </div>
              <div class="col-md-6">
                <input type="checkbox" name="subject"> English
              </div>
            </div>
        </div>
        <div>
          <label>
            <i class="fa fa-key"></i>Additional Information</label>
          <input class="form-control" type="text" placeholder="Additional Information">
        </div>
        <a href="#" class="login-link">
          <i class="fa fa-user-plus"></i>REGISTER</a>
      </div>
    </div>
  </div>
</div>